<div class="flex items-center gap-44 p-5">
  <span>
  <%= link_to groups_path do %>
    <%= image_tag('back.png', class: 'w-6') %>
  <% end %>
  </span>
  <span class=""> Transactions
  </span>
</div>
<% @entities.each do |entity| %>
  <div class="flex justify-between items-center py-3 px-5 my-2 mx-3 bg-white drop-shadow-md">
    <div class="">
      <span class=""><%= entity.name %></span>
      <span>$<%= entity.amount%></span>
    </div>
    <div class="">
      <%= link_to "Delete", group_entity_path(@group, entity), data:  { turbo_method: :delete }, class: "" %>
    </div>
  </div>
<% end %>
<div class="flex items-center justify-center w-1/4 bg-lime-600 m-3 py-4">
  <%= link_to 'New Transaction', new_group_entity_path(@group) ,  class: 'text-white' %>
</div>