<h1 class="py-3 px-3 text-xl">Categories</h1>
<% @groups.each do |group| %>
  <div class="flex justify-between items-center py-3 px-5 my-2 mx-3 bg-white drop-shadow-md">
    <div class="flex gap-3 my-2">
      <%= image_tag group.icon, class: 'cat-icon' %>
      <span>
        <%= link_to group.name, group_entities_path(group) %>
      </span>
    </div>
    <div class="flex gap-4">
      <span>
        $<%= group.entities.reduce(0) { |sum, e| sum + e.amount } %>
      </span>
      <%= link_to "Delete", group_path(group), data:  { turbo_method: :delete }, class: "" %>
    </div>
  </div>
<% end %>
<div class="flex items-center justify-center w-full bg-lime-600 my-3 py-4">
  <%= link_to 'New Category', new_group_path ,  class: 'border-solid border-2 border-white text-white px-14 py-3' %>
</div>