<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-col justify-center items-center h-screen bg-gradient-to-b from-blue-500 to-lime-500' }) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "p-2 m-2 rounded-xl" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "p-2 m-2 rounded-xl"  %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "text-white text-center bg-[#3778c2] hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>


